.pirata-one-regular {
  font-family: "Pirata One", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* reset browser css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", serif;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff1e4;
  font-size: 40px;
  font-family: Pirata One;
  font-weight: 400;
}

/* navbar */

#navbar {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#navbar a {
  color: #fff1e4;
}

#navbar ul {
  padding-right: 60px;
  float: right;
  list-style: none;
}

#navbar h1 {
  padding-top: 18px;
  padding-left: 60px;
  float: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

#navbar ul li {
  float: left;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
}

#navbar ul li a {
  display: block;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #fff1e4;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

#navbar ul li a:hover::after,
#navbar ul li a.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background-color: #fff1e4;
  transition: width 0.3s ease-in-out;
}

#navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 3px;
  background-color: #fff1e4;
  transition: width 0.3s ease-in-out;
}

/* showcase */

#showcase {
  background: url("./img/kaanepilt1.png") no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
}

.showcase-content {
  color: #fff1e4;
  text-align: center;
}

.showcase-content h2 {
  font-size: 128px;
  font-family: Pirata One;
  font-weight: 400;
  line-height: 123px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75);
}

/* About Us Section */

#about-us .container {
  padding: 0 60px;
  margin: -72px auto 0 auto;
  justify-content: center;
  position: relative;
  z-index: 5;
}

#about-us .about-us-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  background: #fff1e4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#about-us .about-us-card div {
  align-content: center;
}

#about-us .about-us-card h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 4rem;
  font-family: "Pirata One", serif;
  line-height: 1;
  color: #2e4d2c;
  padding: 40px;
}

#about-us .about-us-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#about-us .about-us-card p {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #000;
  padding: 80px;
}

#showcase2 {
  background: url("./img/kaanepilt2.png") no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
  margin: -72px auto 0 auto;
}

#showcase2 .showcase-content {
  color: #fff1e4;
  text-align: center;
}

#showcase2 .showcase-content h2 {
  font-size: 97px;
  font-family: Pirata One;
  font-weight: 400;
  line-height: 1;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75);
}

/* Categories Section */

#categories {
  text-align: center;
}

#categories .container {
  padding: 0 60px;
  margin: -72px auto 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff1e4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category-card {
  overflow: hidden;
  text-align: center;
  width: 320px;
  height: auto;
  margin-bottom: -6px;
}

.category-card img {
  max-width: 0.25fr;
  object-fit: cover;
}

.category-card h3 {
  font-size: 24px;
  font-family: Pirata One;
  color: #2e4d2c;
  margin: 15px 0;
}

.category-card p {
  font-family: Montserrat;
  font-size: 16px;
  color: #000;
  padding: 1rem;
  line-height: 1.6;
  height: 100%;
}

/* Footer */

footer {
  background: #2e4d2c;
  color: #fff1e4;
  text-align: center;
  padding: 20px 0;
  margin-top: 72px;
}

footer p {
  font-family: Montserrat;
  font-size: 14px;
}

footer p a {
  color: #fff1e4;
  font-weight: bold;
  text-decoration: none;
}

/* eelroogade showcase */

#showcase-eelroad {
  background: url("./img/Eelroad-kaanepilt.png") no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
}

#showcase .showcase-content {
  color: #fff1e4;
  text-align: center;
}

#showcase .showcase-content h2 {
  font-size: 128px;
  font-family: Pirata One;
  font-weight: 400;
  line-height: 123px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75);
}

/* Recipe Section */
.recipe-section {
  background-color: #7b8a4c;
  padding: 50px 60px;
  margin: -72px auto 0 auto;
  max-width: 1200px;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 5;
}

/* Recipe Container */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Recipe Card */
.recipe-card {
  background-color: #fff1e4; /* Light cream background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Recipe Card Image */
.recipe-card img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

/* Recipe Content */
.recipe-content {
  padding: 15px;
}

.recipe-content h3 {
  font-family: "Pirata One", serif;
  font-size: 2.5rem;
  line-height: 1;
  color: #7b410d;
  margin-bottom: 15px;
}

.recipe-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

/* soolaste toitude showcase */

#showcase-soolased-toidud {
  background: url("./img/soolased-toidud-kaanepilt.png") no-repeat center
    center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
}

/* magustoitude showcase */

#showcase-magustoidud {
  background: url("./img/magustoidud-kaanepilt.png") no-repeat center
    center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
}

/* jookide showcase */

#showcase-joogid {
  background: url("./img/joogid-kaanepilt.png") no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
  position: relative;
}

/* Recipe Section */
.recipe-section {
  background-color: #7b8a4c;
  padding: 50px 60px;
  margin: -72px auto 0 auto;
  max-width: 1200px;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 5;
}

/* Recipe Container */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Recipe Card */
.recipe-card {
  background-color: #fff1e4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Recipe Card Image */
.recipe-card img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

/* Recipe Content */
.recipe-content {
  padding: 15px;
}

.recipe-content h3 {
  font-family: "Pirata One", serif;
  font-size: 2.5rem;
  line-height: 1;
  color: #7b410d;
  margin-bottom: 15px;
}

.recipe-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

/* retseptide showcase */

#showcase-retsept .showcase-content {
  color: #fff1e4;
  text-align: center;
}

#showcase-retsept .showcase-content h2 {
  font-size: 128px;
  font-family: Pirata One;
  font-weight: 400;
  line-height: 123px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75);
}

/* retseptide tekst */

.recipe-section-retsept {
  background-color: #fff1e4;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: -72px auto 0 auto;
  z-index: 5;
}

.recipe-box {
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.recipe-box h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-box p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* retseptide showcaseid */

#showcase-retsept-taidetud-munad {
  background: url(img/Eelroad1.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-rukkileib {
  background: url(img/Eelroad2.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-seljanka-saiakesed {
  background: url(img/Eelroad3.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-maksapasteet {
  background: url(img/Eelroad4.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-kinnine-juustupirukas {
  background: url(img/Eelroad5.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-baguetid {
  background: url(img/Eelroad6.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-ramen-supp {
  background: url(img/Ramen-supp.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-ravioolid {
  background: url(img/ravioolid.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-mahlane-burger {
  background: url(img/burger.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-pureesupp {
  background: url(img/pureesupp.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-rostitud-kartulid {
  background: url(img/kartulid.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-kana-snitslid {
  background: url(img/snitsel.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-portugali-kreemikoogid {
  background: url(img/pastel-de-nata.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-meekook {
  background: url(img/meekook.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-kaneeliga-pidusai {
  background: url(img/pidusai.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-makroonid {
  background: url(img/makroonid.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-sarvesaiad {
  background: url(img/croissant.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-banaanileib {
  background: url(img/banaanileib.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-gloggi {
  background: url(img/gloggi.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-ingveri-turgutus {
  background: url(img/ingveri-jook.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-punasesostra-siirup {
  background: url(img/punase-sostra-siirup.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-marjane-smuuti {
  background: url(img/smuuti.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-ouna-ananassi-porgandimahl {
  background: url(img/ouna-ananassi-porgandimahl.png) no-repeat center
    center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}

#showcase-retsept-piparmundi-tee {
  background: url(img/tee.png) no-repeat center center/cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  align-content: center;
}
